main {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-section {
    width: 66.67%;
    max-width: 66.67%;
    display: flex;
    justify-content: center;
    gap: 2%;
    margin: 2% 0;
}

.input-section input {
    padding: 2%;
    width: 60%;
}

.input-section button, #save-questions, #load-scale {
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

#question {
    width: 70%;
}

#points {
    width: 10%;
}

#save-questions, #load-scale {
    padding: 20px;
}

#save-section {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin: 2em 0;
}

.input-section button {
    width: 15%;
    padding: 1%;
}

.questions-list {
    width: 66.67%;
    margin: 2% auto;
    padding: 2%;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.questions-list h2 {
    margin-top: 0;
    text-align: center;
}

.questions-list ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.questions-list li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: var(--color-bg, #fff);
    height: 50px; /* Fixe la hauteur de chaque élément */
}

.questions-list li:last-child {
    margin-bottom: 0; /* Pas de marge pour le dernier élément */
}

.questions-list li > * {
    padding: 0 10px;
    text-align: center;
}

.question-text {
    width: 60%; /* Largeur pour aligner le texte des questions */
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.question-points {
    width: 10%;
    text-align: center;
}

.questions-list li .move-up,
.questions-list li .move-down {
    font-size: 18px;
    cursor: pointer;
    padding: 5px;
    margin: 0 5px;
    text-align: center;
}

.questions-list li button {
    padding: 10px;
    width: 15%;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.questions-list li:hover {
    background-color: var(--color-hover-bg, #f3f3f3);
}

.questions-list li button:hover {
    background-color: var(--color-primary-hover, #6200ea);
    color: #fff;
}

body #questions-container li {
    background-color: var(--color-hover-bg);
    color: var(--color-text);
}

body #questions-container li:hover {
    background-color: var(--color-item-bg);
}