/* General Styles for Table */
.questions-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 1rem;
    background-color: var(--color-white);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    overflow: hidden;
}

.questions-table th, .questions-table td {
    padding: 1rem;
    border-top: 1px solid var(--color-primary);
}

.questions-table th {
    background-color: var(--color-primary);
    color: var(--color-white);
    font-weight: bold;
}

.question-points, .question-max {
    text-align: center;
}

.question-max input {
    width: calc(100% - 2rem - 2px);
}

.questions-table td {
    background-color: var(--color-white);
    color: var(--color-text);
}

.questions-table tr:not(:last-child):hover td {
    background-color: var(--color-hover-bg);
    transition: background-color 0.3s ease;
}

tr td:not(:first-child) {
    text-align: center;
}

#total-points {
    text-align: right;
    margin-top: 1rem;
    font-weight: bold;
    color: var(--color-text);
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2%;
}

.main-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 100%;
    gap: 2%;
}

.form-section {
    width: 65%;
    background-color: var(--color-white);
    padding: 2%;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.students-section {
    width: 30%;
    background-color: var(--color-white);
    padding: 2%;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.students-section h2 {
    font-size: var(--font-size-large);
    margin-bottom: 1rem;
    text-align: center;
    color: var(--color-primary);
}

#students-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

/* General Styles for Student Item */
.student-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem;
    border: 1px solid var(--color-border);
    border-radius: 5px;
    margin-bottom: 0.5rem;
    background-color: var(--color-item-bg);
    height: 3rem; /* Fixed height for uniformity */
    box-sizing: border-box;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.student-item:hover {
    background-color: var(--color-hover-bg);
    transform: translateY(-2px);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Name of the student */
.student-item > div:first-child {
    flex: 2;
    font-size: 1rem;
    color: var(--color-text);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/* Points of the student */
.student-item > input {
    flex: 1;
    font-size: 1rem;
    text-align: center;
    color: var(--color-text);
    background-color: var(--color-input-bg);
    border: 1px solid var(--color-border);
    border-radius: 5px;
    padding: 0.3rem;
    height: 2rem; /* Fixed height */
    box-sizing: border-box;
    width: 2rem;
}

.student-item > input:disabled {
    background-color: var(--color-disabled-bg);
    font-weight: bold;
}

/* Buttons */
.student-item > button {
    padding: 0.3rem 0.8rem;
    font-size: 0.9rem;
    height: 2rem;
}

.totalStudentsDiv {
    margin : 2rem 0;
}

.total-students {
    font-size: var(--font-size-base);
    font-weight: bold;
    text-align: center;
    margin-bottom: 1rem;
    color: var(--color-primary);
}

.total-students {
    font-size: var(--font-size-base);
    font-weight: bold;
    text-align: center;
    margin-bottom: 1rem;
    color: var(--color-primary);
}

.file-upload-section {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    margin-bottom: 2%;
}

#upload-json {
    width: 70%;
}

.file-upload-section input[type="file"] {
    margin-bottom: 1rem;
    padding: 0.5rem;
    border: 2px solid var(--color-primary);
    border-radius: 5px;
    font-family: var(--font-family);
    outline: none;
    cursor: pointer;
    transition: border-color 0.3s ease;
}

.file-upload-section input[type="file"]:hover {
    border-color: var(--color-primary-hover);
}

.file-upload-section button {
    padding: 0.5rem 1rem;
    font-size: 1rem;
}

.question-text {
    font-size: 1rem;
}

.input-section {
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.input-section label {
    font-size: var(--font-size-large);
    color: var(--color-text);
    width: 30%; /* Ajustez la largeur selon vos besoins */
    text-align: right;
}

.input-section input, .input-section textarea {
    flex: 1;
    padding: 0.5rem;
    font-size: var(--font-size-base);
    border: 1px solid var(--color-border);
    border-radius: 5px;
    box-sizing: border-box;
    color: var(--color-text);
    background-color: var(--color-item-bg);
}

#scale-header {
    margin: 2rem 0;
}

hr {
    border-color: var(--color-primary);
}

.form-actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
}

.form-actions #next-button {
    margin-left: auto;
}

.form-actions #save-button,
.form-actions #generate-button {
    margin-left: 0.5rem;
}